{% extends 'base.html' %}
{% block title %}Add{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/add.css') }}">
{% endblock %}
{% block body %}

    <h1>Add</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur debitis provident beatae fugit, alias veniam quidem voluptates velit! Ad accusamus tenetur veritatis qui error iusto animi maxime quibusdam magnam voluptates.</p>
    
    <a href="about">about page</a>
    <a href="skills">skills page</a>
    <a href="/">home page</a>
{% endblock %}
